backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db

frontend/build/
frontend/.dart_tool/
frontend/android/.gradle/
frontend/android/app/build/
frontend/ios/Pods/
frontend/.idea/

.idea/
*.iml
